<?xml version="1.0"?>
<config>
    <modules>
        <JR_AttributeOptionImage>
            <version>1.1.0</version>
        </JR_AttributeOptionImage>
    </modules>
    <global>
        <resources>
            <aoi_setup>
                <setup>
                    <module>JR_AttributeOptionImage</module>
                </setup>
            </aoi_setup>
        </resources>
        <models>
             <aoi>
                <class>JR_AttributeOptionImage_Model</class>
                <resourceModel>aoi_resource</resourceModel>
             </aoi>
             <aoi_resource>
                <class>JR_AttributeOptionImage_Model_Resource</class>
                <entities>
                    <catalog_eav_attribute_option>
                        <table>catalog_eav_attribute_option</table>
                    </catalog_eav_attribute_option>
                </entities>
            </aoi_resource>
            <catalog>
                <rewrite>
                    <resource_eav_attribute>JR_AttributeOptionImage_Model_Resource_Catalog_Eav_Attribute</resource_eav_attribute>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <attribute>JR_AttributeOptionImage_Model_Resource_Catalog_Attribute</attribute>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>JR_AttributeOptionImage_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <aoi>
                <class>JR_AttributeOptionImage_Helper</class>
            </aoi>
            <cms>
                <rewrite>
                    <wysiwyg_images>JR_AttributeOptionImage_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JR_AttributeOptionImage before="Mage_Adminhtml">JR_AttributeOptionImage_Adminhtml</JR_AttributeOptionImage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
                <observers>
                    <update_layout>
                        <class>JR_AttributeOptionImage_Model_Observer</class>
                        <method>updateLayout</method>
                    </update_layout>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
        </events>
    </adminhtml>
</config>